<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

    <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[REPORT] %d{ddMMyyyy HH:mm:ss,SSS} %-5p [%t] [%c{1}] %m%n"/>
        </layout>
    </appender>

    <appender name="ReportingRollingLog" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File" value="opensrpReporting.log"/>
        <param name="DatePattern" value="'.'yyyy-MM-dd"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{ddMMyyyy HH:mm:ss,SSS} %-5p [%t] [%c{1}] %m%n"/>
        </layout>
    </appender>

    <appender name="ReportingMonitorLog" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File" value="opensrpReportingMonitoring.log"/>
        <param name="DatePattern" value="'.'yyyy-MM-dd"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{ddMMyyyy HH:mm:ss,SSS} %m%n"/>
        </layout>
    </appender>

    <appender name="WebRollingLog" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File" value="opensrpWeb.log"/>
        <param name="DatePattern" value="'.'yyyy-MM-dd"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{ddMMyyyy HH:mm:ss,SSS} %-5p [%t] [%c{1}] %m%n"/>
        </layout>
    </appender>

    <appender name="WebMonitorLog" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File" value="opensrpWebMonitoring.log"/>
        <param name="DatePattern" value="'.'yyyy-MM-dd"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{ddMMyyyy HH:mm:ss,SSS} %m%n"/>
        </layout>
    </appender>
    
    <appender name="gmail" class="org.apache.log4j.net.SMTPAppender">
        <param name="Bcc" value=""/>
        <param name="BufferSize" value="512"/>
        <param name="Cc" value=""/>
        <param name="LevelMax" value="FATAL"/>
        <param name="LevelMin" value="ERROR"/>
        <param name="From" value="opensrpserver@gmail.com"/>
        <param name="enable" value="true"/>
        <param name="SMTPDebug" value="TRUE"/>
        <param name="SMTPHost" value="smtp.gmail.com"/>
        <param name="SMTPPassword" value="mfblelhwkvtatdpi"/>
        <param name="SMTPPort" value="465"/>
        <param name="SMTPProtocol" value="smtps"/>
        <param name="auth" value="true"/>
        <param name="SMTPUsername" value="opensrpserver@gmail.com"/>
        <param name="Subject" value="OpenSRP Server :: Exception Notification :: User ${user.name}"/>
        <param name="threshold" value="ERROR"/>
        <param name="To" value="opensrpserver@gmail.com"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{ABSOLUTE} %5p %c{1}:%L - %m%n"/>
        </layout>
    </appender>
    
    <logger name="org.motechproject">
        <level value="WARN"/>
    </logger>

    <logger name="org.quartz">
        <level value="WARN"/>
    </logger>

    <logger name="metrics">
        <level value="WARN"/>
    </logger>

    <logger name="org.springframework">
        <level value="INFO"/>
    </logger>

    <logger name="org.ei">
        <level value="INFO"/>
    </logger>

    <logger name="DRISHTI_REPORT_MONITOR">
        <!--<appender-ref ref="ReportingMonitorLog"/>-->
        <appender-ref ref="CONSOLE"/>
    </logger>

    <logger name="DRISHTI_WEB_MONITOR">
        <!--<appender-ref ref="WebMonitorLog"/>-->
        <appender-ref ref="CONSOLE"/>
    </logger>
    
    <root>
        <priority value="INFO"/>
        <!-- <appender-ref ref="RollingLog"/> -->
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="gmail"/>
    </root>

</log4j:configuration>
